In [1]:
# basic modules
import geopandas as gpd
import pandas as pd 
import json 
import os 
# visualizaztion modules 
from chart_studio.plotly import iplot
# deploy
import datapane as dp
import plotly.express as px

In [2]:
# obtendo os dados csv
df = pd.read_csv('/home/marcos/Desktop/dados/dadosVis/df1.csv')
# obtendo os dados shp
gdf = gpd.read_file('/home/marcos/Desktop/dados/ride_shp/rideTotal2.shp')

In [4]:
def json_data(selectYear):
    ano = selectYear
    dfYear = df[df['MES_REFERENCIA'] == ano]
    merged = gdf.merge(dfYear, left_on ='NM_MUNICIP', right_on ='NOME_MUNICIPIO', how ='left')
    merged['Valor'] = merged.VALOR_PARCELA.fillna("N/A")
    del merged['NOME_MUNICIPIO']
    del merged['VALOR_PARCELA']
    merged_json = json.loads(merged.to_json())
    json_data = json.dumps(merged_json)
    return merged

In [5]:
json_data('201601')

/home/marcos/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,NM_MUNICIP,CD_GEOCODM,geometry,MES_REFERENCIA,Valor
0,BRASILIA,5300108,"POLYGON ((-48.11521 -15.83216, -48.11528 -15.8...",NaN,N/A
1,BRASILIA,5300108,"POLYGON ((-47.75060 -15.91208, -47.75078 -15.9...",NaN,N/A
2,BRASILIA,5300108,"POLYGON ((-47.94150 -15.78556, -47.94286 -15.7...",NaN,N/A
3,BRASILIA,5300108,"POLYGON ((-47.59732 -15.62285, -47.59822 -15.6...",NaN,N/A
4,BRASILIA,5300108,"POLYGON ((-48.18601 -15.65986, -48.18624 -15.6...",NaN,N/A
...,...,...,...,...,...
365,NIQUELANDIA,5214606,"POLYGON ((-49.01486 -14.53729, -49.01492 -14.5...",NaN,N/A
366,SAO JOAO D'ALIANCA,5220009,"POLYGON ((-47.66011 -14.70660, -47.66176 -14.7...",NaN,N/A
367,SIMOLANDIA,5220686,"POLYGON ((-46.47074 -14.47219, -46.47112 -14.4...",NaN,N/A
368,VILA PROPICIO,5222302,"POLYGON ((-48.91463 -15.20939, -48.91462 -15.2...",NaN,N/A
369,ARINOS,3104502,"POLYGON ((-46.25531 -15.79598, -46.25482 -15.7...",NaN,N/A

In [10]:
#OBTER UM ARQUIVO JSON COM TODOS OS ANOS
# f = open('2016.json', 'w')
# f.write(json_data('2016'))
with open('/home/marcos/Desktop/dados/dadosVis/media_ano.json', 'r') as json_file:
    dados = json.load(json_file)

In [ ]:
# Figure
geosource = json_data('2016')

fig = px.choropleth(df, geojson=dados, color="VALOR_PARCELA",
                   locations="NOME_MUNICIPIO", featureidkey="properties.NM_MUNICIP",
                    projection="mercator")
fig.update_geos(fitbounds="locations", visible=False)
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()