## Questionamentos
1 - Qual o valor médio recebido por cidade ao longo do tempo?
2 - Qual a porcentagem de pagamantos feitos em atraso por cidade? 
3 - Qual o tempo médio de atraso do apagamento por cidade?

LINK: http://ivs.ipea.gov.br/index.php/pt/biblioteca

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/home/marcos/Desktop/dados/clean_data/newdataset.csv')

In [7]:
df

,Unnamed: 0,MES_REFERENCIA,MES_COMPETENCIA,UF,CODIGO_MUNICIPIO_SIAFI,NOME_MUNICIPIO,NIS_FAVORECIDO,NOME_FAVORECIDO,VALOR_PARCELA,LAT,LON
0,0,201301,201202,DF,9701,BRASILIA,1.668612e+10,VALNI ESTEVES DE AZEVEDO,102.0,-15.7795,-47.9297
1,1,201301,201203,DF,9701,BRASILIA,1.668612e+10,VALNI ESTEVES DE AZEVEDO,102.0,-15.7795,-47.9297
2,2,201301,201204,DF,9701,BRASILIA,1.668612e+10,VALNI ESTEVES DE AZEVEDO,102.0,-15.7795,-47.9297
3,3,201301,201205,DF,9701,BRASILIA,1.668612e+10,VALNI ESTEVES DE AZEVEDO,102.0,-15.7795,-47.9297
4,4,201301,201206,DF,9701,BRASILIA,2.125903e+10,ANA PAULA PEREIRA DA SILVA,64.0,-15.7795,-47.9297
...,...,...,...,...,...,...,...,...,...,...,...
9994,9994,201301,201301,DF,9701,BRASILIA,1.262746e+10,AURENI FERREIRA DOS SANTOS,212.0,-15.7795,-47.9297
9995,9995,201301,201301,DF,9701,BRASILIA,1.613855e+10,AURENI LACERDA DE SOUSA,216.0,-15.7795,-47.9297
9996,9996,201301,201301,DF,9701,BRASILIA,1.614167e+10,AURENI PEREIRA DE FIGUEIREDO SOUSA,70.0,-15.7795,-47.9297
9997,9997,201301,201301,DF,9701,BRASILIA,1.601549e+10,AURENI RODRIGUES BORGES,102.0,-15.7795,-47.9297
9998,9998,201301,201301,DF,9701,BRASILIA,1.607934e+10,AURENI SILVA SA,96.0,-15.7795,-47.9297

In [5]:
df.groupby('CODIGO_MUNICIPIO_SIAFI').head(1)

,Unnamed: 0,MES_REFERENCIA,MES_COMPETENCIA,UF,CODIGO_MUNICIPIO_SIAFI,NOME_MUNICIPIO,NIS_FAVORECIDO,NOME_FAVORECIDO,VALOR_PARCELA,LAT,LON
0,0,201301,201202,DF,9701,BRASILIA,1.668612e+10,VALNI ESTEVES DE AZEVEDO,102.0,-15.7795,-47.9297